<!DOCTYPE html>
<html>
  <head>
    <title>COET placement cell</title>
  </head>
  <body>
    <h1 align="center">Placement Cell</h1>
    <p style="font-weight: bold">
      The Training and Placement Cell of the institute centrally handles Campus
      Placement for the Engineering students. The Cell provides complete support
      to the visiting companies at every stage of placement process.
      Arrangements for Pre-Placement Talks, Written Tests, Interviews and Group
      Discussions are made as per the requirements of the visiting companies.
    </p>
    <p>
      Students are given career guidance starting from first year. Placement
      training classes are conducted based on
	</p>
	<ul style="font-style: italic">
		<li>Company Specific requirements</li>
		<li>Assessment Tests</li>
	</ul>
	<p>The Placement Cell activities include:</p>
	<ul style="font-style: italic">
		<li>On/off Campus Pooled Drives</li>
		<li>Career Guidance Programmes</li>
	</ul>
    <!--
		- Add CSS and JS in static folder
		- Make website more cool
		- Add more functions in README.md for enhacement
	-->
  </body>
</html>
